*{
    margin: 0; 
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/hiking-above-clouds-at-sunset.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display:flex;
    padding:2%, 6%;
    justify-content: space-between;
    align-items: center;
}
html {font-size: 22px}
body {
    background-color: rgb(195, 201, 201); 
    color: rgb(0, 0, 0);
}  
input[type="submit"]{
    cursor: pointer;
}
.requestnow {
    background-color: black;
    color: rgb(255, 255, 255);
    border: px;
    height: 52px;
    width: 150px;
    border-radius: px;
    border-color: none;
    border-style: none;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    font-size:20px;
    transition: background-color 0.3s, box-shadow 0.3s;
    }
.requestnow:hover {
    background-color: rgb(58, 58, 58);
    box-shadow: 5px 5px 5px gray;
}
.requestnow:active {
    background-color: azure;
    color: black;
}
.addtocart {
    background-color: rgb(255, 255, 77);
    color: black;
    width: 190px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    border-style: none;
}
.signup {
    background-color: green;
    color: rgb(255, 255, 255);
    border: px;
    height: 52px;
    width: 150px;
    border-radius: 10px;
    border-style: none;
    transition: opacity 0.3s;
0.5}
.signup:hover {
    opacity: 0.7;
}
.signup:active {
    transition: background-color 0.3s, color 0.5s;
    background-color: rgb(4, 0, 128);
    color: yellow;
}